@font-face {
    font-family: 'Montserrat-Light';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
    /*URL to font*/
}

@font-face {
    font-family: 'Montserrat';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    /*URL to font*/
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    /*URL to font*/
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

::-webkit-scrollbar-track {
    background: transparent;
}
img {
    -webkit-user-drag: none;
    user-select: none;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #1c1c1c;
    scrollbar-gutter: stable;
}

a {
    color: var(--el-color-primary);
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    text-decoration: none;
}

input {
    font-family: 'Montserrat';
}

.el-main {
    scrollbar-gutter: stable;
}

.d-flex {
    display: flex !important;
}

.direction-column {
    flex-direction: column !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.align-center {
    align-items: center !important;
}

.full-width {
    width: 100%;
}

.ma-0 {
    margin: 0 !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

:root {
    --hover-primary-color: #7749B7;
}

.red {
    color: red;
}

.common-layout {
    min-height: 100vh;

    .main-container {
        padding-left: 80px;
    }

    .el-button--primary {
        --el-button-hover-bg-color: #7749B7;
        --el-button-hover-border-color: #7749B7;
    }

    .el-input .el-input__count .el-input__count-inner {
        background: transparent;
    }

    .el-container {
        min-height: 100vh;
    }

    .el-form-item__label:before {
        display: none;
    }

    // menu styling
    .el-aside {
        background-color: #1c1c1c;
        color: #fff;
        width: fit-content;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 99999;

        .el-menu {
            background-color: transparent;
            font-family: 'Montserrat-SemiBold';
            padding-top: 145px;
            height: 100vh;

            .el-menu-item {
                color: #fff;
                margin: 0 10px;
                padding-left: 16px !important;
                margin-bottom: 5px;

                .el-menu-tooltip__trigger {
                    padding: 0 16px;
                }

                &:hover {
                    background-color: #282828;
                }
            }

            .el-menu-item.is-active {
                background-color: #282828;
            }


            .logo {
                z-index: 9;
                position: absolute;
                top: 53px;
                left: 15px;
            }

            .collapseButton {
                background-color: transparent;
                border: none;
                position: absolute;
                top: 55px;
                right: 10px;
                z-index: 8;
                padding: 8px;
                width: 40px;
                height: 40px;

                &:hover {
                    background-color: #282828;
                }
            }

            &--collapse {
                width: 80px;
            }
        }
    }

    .el-main {
        background-color: #f6f6f6;
        padding: 20px 35px;
    }

    .el-header {
        padding: 15px 35px;
        height: 75px;
    }

    .el-input__wrapper {
        background-color: #f6f6f6;
        box-shadow: none;
    }

    .pageTitle {
        margin: 0;
        font-size: 30px;
        font-family: 'Montserrat-SemiBold';
    }

    .accountSetting {
        .el-form-item__label {
            font-size: 14px;
            color: #fff;
            font-family: 'Montserrat-SemiBold';
            margin-bottom: 5px !important;
        }

        .el-input__wrapper {
            background-color: #313131;
            box-shadow: none;

            .el-input__inner {
                color: #fff;
                font-family: 'Montserrat-Light';
                font-size: 14px;
            }
        }
    }

    .teamPage {
        .el-input__wrapper {
            background-color: #fff;
            margin-right: 35px;
        }
    }

    .authContainer {
        width: 330px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 30px 35px;
        color: #1c1c1c;

        h1 {
            font-size: 24px;
            font-family: 'Montserrat-Bold';
            color: var(--el-color-primary);
            margin: 0;
        }

        p {
            font-size: 14px;
            font-family: 'Montserrat-Light';
            margin-top: 0;
            margin-bottom: 25px;
        }

        a {
            font-size: 12px;
            font-family: 'Montserrat-Bold';
        }

        .el-input__wrapper {
            background-color: transparent;
            border: 1px solid #d9d9d9;
            height: 50px;
        }
    }
}

.el-dropdown-menu {
    .el-dropdown-menu__item {
        font-size: 14px;
        font-family: 'Montserrat-SemiBold';
        color: var(--el-color-primary);
    }
}

.headerDropdown {
    border: none !important;

    .el-dropdown-menu {
        padding: 0;
        overflow: hidden;
    }

    .el-dropdown-menu__item {
        font-size: 16px;
        font-family: 'Montserrat-Bold';
        padding: 18px 55px 18px 12px;
        color: #1c1c1c;
        transition: all 0.3s ease;

        img {
            margin-right: 25px;
        }

        &:hover {
            color: #1c1c1c;
        }

        &:nth-child(2) {
            background-color: var(--el-color-primary);
            color: #fff;

            &:hover {
                background-color: var(--hover-primary-color);
                color: #fff;
            }
        }
    }
}

.el-drawer {
    background-color: #1c1c1c;
    color: #fff;
}

.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
    background-color: #fff;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
    }
}

.el-button--primary.is-plain {
    background-color: transparent;

    &:hover {
        background-color: rgba(204, 176, 244, 0.1);
        color: var(--el-color-primary);
    }
}