@font-face {
    font-family: 'Montserrat-Light';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
    /*URL to font*/
}

@font-face {
    font-family: 'Montserrat';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    /*URL to font*/
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    /*a name to be used later*/
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    /*URL to font*/
}

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-thumb {
    background: #282828;
    border-radius: 90px;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

::-webkit-scrollbar-track {
    background: transparent;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: #1c1c1c;
}

a {
    color: var(--el-color-primary);
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.full-width {
    width: 100%;
}

.ma-0 {
    margin: 0;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.common-layout {
    .el-container {
        height: 100vh;
    }

    .el-form-item__label:before {
        display: none;
    }

    // menu styling
    .el-aside {
        background-color: #1c1c1c;
        color: #fff;
        width: fit-content;

        .el-menu {
            background-color: transparent;
            height: 100%;
            font-family: 'Montserrat-SemiBold';
            padding-top: 72px;

            .el-menu-item {
                color: #fff;

                img {
                    margin-right: 20px;
                }

                &:hover {
                    background-color: #282828;
                }
            }

            .el-menu-item.is-active {
                background-color: #282828;
            }


            .logo {
                z-index: 9;
                position: absolute;
                top: 10px;
                left: 6px;
            }

            .collapseButton {
                background-color: transparent;
                border: none;
                position: absolute;
                top: 15px;
                right: 10px;
                z-index: 8;
                padding: 8px;

                &:hover {
                    background-color: #282828;
                }
            }
        }
    }

    .el-main {
        background-color: #f6f6f6;
        padding: 20px 35px;
    }

    .el-header {
        padding: 15px 35px;
        height: fit-content;
    }

    .el-input__wrapper {
        background-color: #f6f6f6;
        box-shadow: none;
    }

    .pageTitle {
        margin: 0;
        font-size: 30px;
        font-family: 'Montserrat-SemiBold';
    }

    .accountSetting {
        .el-form-item__label {
            font-size: 14px;
            color: #fff;
            font-family: 'Montserrat-SemiBold';
            margin-bottom: 5px !important;
        }

        .el-input__wrapper {
            background-color: #313131;
            box-shadow: none;

            .el-input__inner {
                color: #fff;
                font-family: 'Montserrat-Light';
                font-size: 14px;
            }
        }
    }

    .teamPage {
        .el-input__wrapper {
            background-color: #fff;
            margin-right: 35px;
        }
    }

    .authContainer {
        width: 330px;
        background-color: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 30px 35px;
        color: #1c1c1c;

        h1 {
            font-size: 24px;
            font-family: 'Montserrat-Bold';
            color: var(--el-color-primary);
            margin: 0;
        }

        p {
            font-size: 14px;
            font-family: 'Montserrat-Light';
            margin-top: 0;
            margin-bottom: 25px;
        }

        a {
            font-size: 12px;
            font-family: 'Montserrat-Bold';
        }

        .el-input__wrapper {
            background-color: transparent;
            border: 1px solid #d9d9d9;
            height: 50px;
        }
    }
}

.el-dropdown-menu {
    .el-dropdown-menu__item {
        font-size: 14px;
        font-family: 'Montserrat-SemiBold';
        color: var(--el-color-primary);
    }
}

.headerDropdown {
    .el-dropdown-menu {
        padding: 0;
        overflow: hidden;
    }

    .el-dropdown-menu__item {
        font-size: 16px;
        font-family: 'Montserrat-Bold';
        padding: 18px 55px 18px 12px;
        color: #1c1c1c;
        transition: all 0.3s ease;

        svg {
            font-size: 22px;
            margin-right: 24px;
        }

        &:focus {
            background-color: var(--el-color-primary);
            color: #fff;
        }
    }
}

.el-drawer {
    background-color: #1c1c1c;
    color: #fff;
}